body {
    font-family: Roboto, sans-serif;
    background-color: #F5FFFA;
}

h1 {
    color: #556b2f;
    font-size: 28px;
    text-align: left;
}

p {
    color: #333;
    font-size: 14px;
    text-align: left;
}

.caixa-acao {
    width: 100%;
    max-width: 600px;
    height: 200px;
    margin: 40px;
    padding: 20px;
    background-color: #c3d48b
    border-raius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0,1);
    text-align: left;
}

.botao-acao {
    padding: 10px 20px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #c3d48b;
    border: none;
    border-radius: 5x
    cursor: pointer;
    transition: background-color 0,3s;
}

.botao-acao:hover {
    background-color: #556B2F;
}

.link-acao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px
    text-decoration: none;
    color: #fff;
    background-color: #556b2f;
    border-radius: 5px;
    transition: background-color 0,3s;
}

.link-acao:hover {
    background-color: #556b2f;
}

.caixa-texto {
    background-color:#f8f9fa;
  padding: 15px;
  border-radius: 8px;
}

.caixa-texto p {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
}

.container {
    position: fixd;
    bottom: 0;
    left:0;
    width: 100%;
    margin: 20px auto;
    background: green;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
    
footer {
    background: #c3d48b;
    color: green;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    margin-top: 20px;
}
    
header {
    background: #c3d48b;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;  

.content {
    padding: 20px;
    font-size: 18px;
}
